$branco:#ffffff;
$azul:#3c8dbc;
$azulE:#2574A9;
$amarelo:#FF0;
$cinza: #cccccc;
$preto:#000000;
$preto2:#222d32;
$vermelho:#c00;
$verde:#008000;
$verde-l:#AAD258;
$tomate:#FF6347;
$laranjaE:	#FF8C00;
$aguaMariaM:#66CDAA;
