@import '_cores.scss';
@mixin flex($diretion,$wrap){
  display: flex;
  flex-direction:$diretion;
  flex-flow:$diretion $wrap;
}
@mixin full($cor,$per){
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba($cor,$per);
}
@mixin btn($fundo,$color){
			padding: 0.6rem;
			border-radius: 0.8%;
			border:0;
			font-size: 1rem;
			 font-weight: 900;
			  font-stretch: condensed;
			background: $fundo;
			color:$color;
			text-transform: capitalize;
			box-shadow: 0 0.1rem  0.26rem rgba($fundo,0.8),
						0 0.1rem 0.26rem $preto; 
						text-transform: uppercase;

			&:hover {
				cursor: pointer;
			}
}
@mixin tabs(){
	ul{
			@include flex(row,nowrap);
			li{
				position: relative;
				font-family: Tulia_bold;
				font-size: 1rem;
				list-style: none;
				padding: 0.5rem 1rem 0.5rem 0rem;
				text-align: center;
				text-transform: capitalize;
				font-weight: 700;
				color:$preto;
				transition: color 1s linear;
				&:before{
					content:"";
					position: absolute;
					left: 12%;
					width: 50%;
					bottom: 0;
					border-bottom:0.3rem solid $azul;
					transform:scale(0);
					transition: transform 0.5s linear;
				}
				&:hover{
					color:$azul;
					transition: color 0.3s linear;
					cursor:pointer;
				}
				&:first-child{
					margin-left: 1rem;
				}
			}
		}
}

@mixin imgInput(){

}