@keyframes spin{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}
@keyframes spinreverse{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(-360deg);
	}
}
@keyframes fadeIn{
	0%{
		transform:scale(0);
	}
	100%{
		transform:scale(1);
	}
}
@keyframes mouve{
	0%{
		transform:translateX(0);
	}
	100%{
		transform:translateX(205%);
	}
}